<!DOCTYPE html>
<html>
  <head>
    <title>Wenick, Dean - First CF project</title>

    <!-- Bring In jQuery -->
    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="../js/jquery.tablesorter.js"></script>

    <!-- Bring In Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Application Styles and Scripts -->
    <link rel="stylesheet" href="../css/jsbootcamp.css">
    <script src="../js/contactlist.js"></script>
    <script>
      $(document).ready(function() {
        makeContactRowClickable();

        //make table sortable
        $('table').tablesorter();
      });
    </script>
  </head>

  <body>
    <header>
      <h1>Dean Wenick &mdash; First Project <i class="fa fa-smile-o"></i></h1>
      <h2>you can sort this table by clicking on the column headers</h2>
    </header>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Nickname</th>
          <th>Company</th>
        </tr>
      <thead>

      <tbody>
        {{#each contacts}}
          <tr data-contact-guid="{{guid}}">
            <td>{{lastName}}</td>
            <td>{{firstName}}</td>
            <td>{{nickname}}</td>
            <td>{{company}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <a href="add">add a record</a>
  </body>
</html>
