<!DOCTYPE html>
<html>
  <head>
    <title>Code Fellows Contact Manager</title>

    <!-- Bring In jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Bring In Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- Application Styles and Scripts -->
    <link rel="stylesheet" href="/jsbootcamp.css">
  </head>

  <body>
    <header>
      <h1>Dean Wenick Assignment First Project <i class="fa fa-smile-o"></i></h1>
    </header>
    <dl>
      <h3>This page will show the new record.</h3> 
        
          
            <dt>First Name</dt>
            <dd>{{firstName}}</dd>
          

          
            <dt>Last Name</dt>
            <dd>{{lastName}}</dd>
          

          
            <dt>Nickname</dt>
            <dd>{{nickname}}</dd>
          

          
            <dt>Company</dt>
            <dd>{{company}}</dd>
          

          
            <dt>Email Address</dt>
            <dd>{{email}}</dd>
          
    </dl>

    <p><a href="/">Look good?</a></p>
  </body>
</html>
