<!DOCTYPE html>
<html>
  <head>
    <title>Code Fellows Contact Manager</title>

    <!-- Bring In jQuery -->
    <script src="/bower_components/jquery/jquery.min.js"></script>

    <!-- Bring In Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Application Styles and Scripts -->
    <link rel="stylesheet" href="../css/jsbootcamp.css">
  </head>

  <body>
    <header>
      <h1>Dean Wenick &mdash; First Project <i class="fa fa-smile-o"></i></h1>      
      <h2>This page will show the new record.</h2> 
    </header>
    <dl>
        
          
            <dt>First Name</dt>
            <dd>{{firstName}}</dd>
          

          
            <dt>Last Name</dt>
            <dd>{{lastName}}</dd>
          

          
            <dt>Nickname</dt>
            <dd>{{nickname}}</dd>
          

          
            <dt>Company</dt>
            <dd>{{company}}</dd>
          

          
            <dt>Email Address</dt>
            <dd>{{email}}</dd>
          
    </dl>

    <p><a href="/">Look good?</a></p>
  </body>
</html>
